#topo {
    width: 99.85%;
    height: 100px;
    background-color: #FFA500;
    border: #000 solid 1px;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url(imagens/icone2.png)
}

* {
    margin: 0;
    padding: 0;
}

.menu {

    width: 100%;
    height: 50px;
    background-color: #222;
    font-family: "Arial";
}

.menu ul {

    list-style: nome;
    position: relative;
}

.menu ul li {

    width: 150px;
    float: left;

}


.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;

}

.menu a:hover {
    background-color: #f4f4f4;
    color: #555;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}


.menu ul ul li a {
    background-color: #069;
}

label[for="bt_menu"] {
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;

}

#bt_menu {
    display: none;
}

label[for="bt_menu"] {
    display: none;
}

@media(max-width: 800px) {

    label[for="bt_menu"] {
        display: block;
    }

    #bt_menu:checked ~ .menu {
        margin-left: 0;
    }

    .menu {
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li {
        width: 100%;
        float: none;
    }

    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }

    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;

    }
}

.T {
    font-family: "Arial";
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.T2 {
    font-size: 30px;
    text-align: center;
}

.txt {
    text-align: center;
    font-family: inherit;
    font-size: 68px;
    margin-top: 10px;
    margin-right: 20px;

}

.stilo {
    content: '';
    position: static;
    width: auto;
    height: auto;
    background-image: url(fundo/fundo1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}